* , ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgb(92, 156, 240) , rgb(59, 121, 202) );
}

.main-section{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding-top: 15px;
}

.main-section i{
    /* padding-top: 50cm; */
    font-size: 60px;
    color: rgb(224, 224, 9);
    /* Animation é uma combinação de vários comandos de animation:  */
    /* 
        1. animation-delay
        2. animation-direction
        3. animation-duration
        4. animation-fill-mode
        5. animation-iteration-count
        6. animation-name
        7. animation-play-state
        8. animation-timeline
        9. animation-timing-function 
    */
}  

#estrela-girando1 {
    animation: 3s linear infinite star-animation-1;
    padding-top: 50cm;
}

#estrela-girando2 {
    animation: 4s linear infinite star-animation-2;
}


@keyframes star-animation-1{
    10%{
        transform: rotate(36deg)scaleX(-1);
    }
    20%{
        transform: rotate(72deg)scaleX(-1);
    }
    30%{
        transform: rotate(108deg)scaleX(-1);
    }
    40%{
        transform: rotate(144deg)scaleX(-1);
    }
    50%{
        transform: rotate(180deg)scaleX(-1);
    }
    60%{
        transform: rotate(216deg)scaleX(-1);
    }
    70%{
        transform: rotate(252deg)scaleX(-1);
    }
    80%{
        transform: rotate(288deg)scaleX(-1);
    }
    90%{
        transform: rotate(324deg)scaleX(-1);
    }
    100%{
        transform: rotate(360deg)scaleX(-1);
    }

}

@keyframes star-animation-2{
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }

}